block stylesheet
    link(rel="stylesheet" href="/style/menu.css")

mixin menuItem({path, title, isActive})
    li: a(href=path class= isActive ? "nav-active" : "")= title

nav: ul 
    each item in menuItems 
        +menuItem(item)