extends ../layout.pug

block content
    h1 A propos de moi
    p.
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quos, totam reiciendis suscipit quasi cupiditate mollitia magnam iste provident error amet odio voluptatem ad nisi tempore quidem optio aliquid accusamus. Nobis omnis nulla quae vero deserunt laborum, blanditiis sed sequi laboriosam ipsam et necessitatibus explicabo quidem iste officiis impedit tempora? Ipsa.