doctype html 
html(lang="fr")
    head 
        meta(charset="UTF-8")
        title Mon site PUG
        link(rel="stylesheet" href="/style/common.css")
        block stylesheet

    body
        header 
            include ./components/menu.pug

        main 
            block content

        footer 
            include ./components/footer.pug

        block script

